@use 'sass:color';@use 'sass:map';@use 'sass:string';@function toRawRGB($color) {
    @return string.unquote(color.channel($color, "red") + ', ' + color.channel($color, "green") + ', ' + color.channel($color, "blue"));
}
$whiteRaw: toRawRGB(#FAFAFA);
$whiteOrig: #FAFAFA;
$blackRaw: toRawRGB(#151515);
$blackOrig: #151515;
$blackAlpha2Orig: #15151505;
$blackAlpha4Orig: #1515150a;
$blackAlpha8Orig: #15151514;
$blackAlpha12Orig: #1515151f;
$blackAlpha24Orig: #1515153d;
$blackAlpha36Orig: #1515155c;
$blackAlpha64Orig: #151515a3;
$whiteAlpha2Orig: #FAFAFA05;
$whiteAlpha4Orig: #FAFAFA0a;
$whiteAlpha8Orig: #FAFAFA14;
$whiteAlpha12Orig: #FAFAFA1f;
$whiteAlpha24Orig: #FAFAFA3d;
$whiteAlpha36Orig: #FAFAFA5c;
$whiteAlpha64Orig: #FAFAFAa3;
$surface0Raw: toRawRGB(#F7F7FA);
$surface0Orig: #F7F7FA;
$surface1Raw: toRawRGB(#F2F2F7);
$surface1Orig: #F2F2F7;
$surface2Raw: toRawRGB(#EDEDF2);
$surface2Orig: #EDEDF2;
$surface3Raw: toRawRGB(#E6E6EB);
$surface3Orig: #E6E6EB;
$surface4Raw: toRawRGB(#DEDEE7);
$surface4Orig: #DEDEE7;
$surface5Raw: toRawRGB(#D5D5E4);
$surface5Orig: #D5D5E4;
$surface6Raw: toRawRGB(#bfbfc2);
$surface6Orig: #bfbfc2;
$surface7Raw: toRawRGB(#aaaaac);
$surface7Orig: #aaaaac;
$content0Raw: toRawRGB(#131316);
$content0Orig: #131316;
$content1Raw: toRawRGB(#18181B);
$content1Orig: #18181B;
$content2Raw: toRawRGB(#202024);
$content2Orig: #202024;
$content3Raw: toRawRGB(#26262C);
$content3Orig: #26262C;
$content4Raw: toRawRGB(#2B2B33);
$content4Orig: #2B2B33;
$content5Raw: toRawRGB(#30303C);
$content5Orig: #30303C;
$content6Raw: toRawRGB(#3c3c3f);
$content6Orig: #3c3c3f;
$content7Raw: toRawRGB(#525255);
$content7Orig: #525255;
$primary700Raw: toRawRGB(#1E6B61);
$primary700Orig: #1E6B61;
$primary600Raw: toRawRGB(#257F72);
$primary600Orig: #257F72;
$primary500Raw: toRawRGB(#2F9E8F);
$primary500Orig: #2F9E8F;
$primary400Raw: toRawRGB(#58B4A7);
$primary400Orig: #58B4A7;
$primary300Raw: toRawRGB(#8ACDC3);
$primary300Orig: #8ACDC3;
$primary200Raw: toRawRGB(#D9EDE9);
$primary200Orig: #D9EDE9;
$primary100Raw: toRawRGB(#EFF7F5);
$primary100Orig: #EFF7F5;
$secondary700Raw: toRawRGB(#94502F);
$secondary700Orig: #94502F;
$secondary600Raw: toRawRGB(#A85E38);
$secondary600Orig: #A85E38;
$secondary500Raw: toRawRGB(#BE6E45);
$secondary500Orig: #BE6E45;
$secondary400Raw: toRawRGB(#D08C68);
$secondary400Orig: #D08C68;
$secondary300Raw: toRawRGB(#E0AC90);
$secondary300Orig: #E0AC90;
$success700Raw: toRawRGB(#1F7442);
$success700Orig: #1F7442;
$success600Raw: toRawRGB(#26894E);
$success600Orig: #26894E;
$success500Raw: toRawRGB(#2E9E58);
$success500Orig: #2E9E58;
$success400Raw: toRawRGB(#5CB77D);
$success400Orig: #5CB77D;
$success300Raw: toRawRGB(#8FCEA6);
$success300Orig: #8FCEA6;
$warning800Raw: toRawRGB(#8A5A12);
$warning800Orig: #8A5A12;
$warning700Raw: toRawRGB(#A87121);
$warning700Orig: #A87121;
$warning600Raw: toRawRGB(#C08628);
$warning600Orig: #C08628;
$warning500Raw: toRawRGB(#D69B33);
$warning500Orig: #D69B33;
$warning400Raw: toRawRGB(#E4B662);
$warning400Orig: #E4B662;
$warning300Raw: toRawRGB(#EFCF95);
$warning300Orig: #EFCF95;
$error700Raw: toRawRGB(#9E2B36);
$error700Orig: #9E2B36;
$error600Raw: toRawRGB(#B93841);
$error600Orig: #B93841;
$error500Raw: toRawRGB(#D14A4F);
$error500Orig: #D14A4F;
$error400Raw: toRawRGB(#E0777A);
$error400Orig: #E0777A;
$error300Raw: toRawRGB(#EDA4A5);
$error300Orig: #EDA4A5;
$info700Raw: toRawRGB(#1F5C8F);
$info700Orig: #1F5C8F;
$info600Raw: toRawRGB(#2872AB);
$info600Orig: #2872AB;
$info500Raw: toRawRGB(#3389C6);
$info500Orig: #3389C6;
$info400Raw: toRawRGB(#66A9D8);
$info400Orig: #66A9D8;
$info300Raw: toRawRGB(#97C7E7);
$info300Orig: #97C7E7;
$brandAccentRaw: toRawRGB(#2F9E8F);
$brandAccentOrig: #2F9E8F;

$colorsMap: (
iwhite: var(--white, $whiteRaw),
iblack: var(--black, $blackRaw),
iblackAlpha2: var(--blackAlpha2, $blackAlpha2Orig),
iblackAlpha4: var(--blackAlpha4, $blackAlpha4Orig),
iblackAlpha8: var(--blackAlpha8, $blackAlpha8Orig),
iblackAlpha12: var(--blackAlpha12, $blackAlpha12Orig),
iblackAlpha24: var(--blackAlpha24, $blackAlpha24Orig),
iblackAlpha36: var(--blackAlpha36, $blackAlpha36Orig),
iblackAlpha64: var(--blackAlpha64, $blackAlpha64Orig),
iwhiteAlpha2: var(--whiteAlpha2, $whiteAlpha2Orig),
iwhiteAlpha4: var(--whiteAlpha4, $whiteAlpha4Orig),
iwhiteAlpha8: var(--whiteAlpha8, $whiteAlpha8Orig),
iwhiteAlpha12: var(--whiteAlpha12, $whiteAlpha12Orig),
iwhiteAlpha24: var(--whiteAlpha24, $whiteAlpha24Orig),
iwhiteAlpha36: var(--whiteAlpha36, $whiteAlpha36Orig),
iwhiteAlpha64: var(--whiteAlpha64, $whiteAlpha64Orig),
isurface0: var(--surface0, $surface0Raw),
isurface1: var(--surface1, $surface1Raw),
isurface2: var(--surface2, $surface2Raw),
isurface3: var(--surface3, $surface3Raw),
isurface4: var(--surface4, $surface4Raw),
isurface5: var(--surface5, $surface5Raw),
isurface6: var(--surface6, $surface6Raw),
isurface7: var(--surface7, $surface7Raw),
icontent0: var(--content0, $content0Raw),
icontent1: var(--content1, $content1Raw),
icontent2: var(--content2, $content2Raw),
icontent3: var(--content3, $content3Raw),
icontent4: var(--content4, $content4Raw),
icontent5: var(--content5, $content5Raw),
icontent6: var(--content6, $content6Raw),
icontent7: var(--content7, $content7Raw),
iprimary700: var(--primary700, $primary700Raw),
iprimary600: var(--primary600, $primary600Raw),
iprimary500: var(--primary500, $primary500Raw),
iprimary400: var(--primary400, $primary400Raw),
iprimary300: var(--primary300, $primary300Raw),
iprimary200: var(--primary200, $primary200Raw),
iprimary100: var(--primary100, $primary100Raw),
isecondary700: var(--secondary700, $secondary700Raw),
isecondary600: var(--secondary600, $secondary600Raw),
isecondary500: var(--secondary500, $secondary500Raw),
isecondary400: var(--secondary400, $secondary400Raw),
isecondary300: var(--secondary300, $secondary300Raw),
isuccess700: var(--success700, $success700Raw),
isuccess600: var(--success600, $success600Raw),
isuccess500: var(--success500, $success500Raw),
isuccess400: var(--success400, $success400Raw),
isuccess300: var(--success300, $success300Raw),
iwarning800: var(--warning800, $warning800Raw),
iwarning700: var(--warning700, $warning700Raw),
iwarning600: var(--warning600, $warning600Raw),
iwarning500: var(--warning500, $warning500Raw),
iwarning400: var(--warning400, $warning400Raw),
iwarning300: var(--warning300, $warning300Raw),
ierror700: var(--error700, $error700Raw),
ierror600: var(--error600, $error600Raw),
ierror500: var(--error500, $error500Raw),
ierror400: var(--error400, $error400Raw),
ierror300: var(--error300, $error300Raw),
iinfo700: var(--info700, $info700Raw),
iinfo600: var(--info600, $info600Raw),
iinfo500: var(--info500, $info500Raw),
iinfo400: var(--info400, $info400Raw),
iinfo300: var(--info300, $info300Raw),
ibrandAccent: var(--brandAccent, $brandAccentRaw),
);@function varToRgba($colorName, $opacity) {
    @if (map.has-key($colorsMap, 'i#{$colorName}')) {
        @return rgba(map.get($colorsMap, 'i#{$colorName}'), $opacity)
    } 
    @else {
        @return rgba(var(--#{$colorName}), $opacity)
    }
}

$white: rgb(map.get($colorsMap, iwhite));
$black: rgb(map.get($colorsMap, iblack));
$blackAlpha2: map.get($colorsMap, iblackAlpha2);
$blackAlpha4: map.get($colorsMap, iblackAlpha4);
$blackAlpha8: map.get($colorsMap, iblackAlpha8);
$blackAlpha12: map.get($colorsMap, iblackAlpha12);
$blackAlpha24: map.get($colorsMap, iblackAlpha24);
$blackAlpha36: map.get($colorsMap, iblackAlpha36);
$blackAlpha64: map.get($colorsMap, iblackAlpha64);
$whiteAlpha2: map.get($colorsMap, iwhiteAlpha2);
$whiteAlpha4: map.get($colorsMap, iwhiteAlpha4);
$whiteAlpha8: map.get($colorsMap, iwhiteAlpha8);
$whiteAlpha12: map.get($colorsMap, iwhiteAlpha12);
$whiteAlpha24: map.get($colorsMap, iwhiteAlpha24);
$whiteAlpha36: map.get($colorsMap, iwhiteAlpha36);
$whiteAlpha64: map.get($colorsMap, iwhiteAlpha64);
$surface0: rgb(map.get($colorsMap, isurface0));
$surface1: rgb(map.get($colorsMap, isurface1));
$surface2: rgb(map.get($colorsMap, isurface2));
$surface3: rgb(map.get($colorsMap, isurface3));
$surface4: rgb(map.get($colorsMap, isurface4));
$surface5: rgb(map.get($colorsMap, isurface5));
$surface6: rgb(map.get($colorsMap, isurface6));
$surface7: rgb(map.get($colorsMap, isurface7));
$content0: rgb(map.get($colorsMap, icontent0));
$content1: rgb(map.get($colorsMap, icontent1));
$content2: rgb(map.get($colorsMap, icontent2));
$content3: rgb(map.get($colorsMap, icontent3));
$content4: rgb(map.get($colorsMap, icontent4));
$content5: rgb(map.get($colorsMap, icontent5));
$content6: rgb(map.get($colorsMap, icontent6));
$content7: rgb(map.get($colorsMap, icontent7));
$primary700: rgb(map.get($colorsMap, iprimary700));
$primary600: rgb(map.get($colorsMap, iprimary600));
$primary500: rgb(map.get($colorsMap, iprimary500));
$primary400: rgb(map.get($colorsMap, iprimary400));
$primary300: rgb(map.get($colorsMap, iprimary300));
$primary200: rgb(map.get($colorsMap, iprimary200));
$primary100: rgb(map.get($colorsMap, iprimary100));
$secondary700: rgb(map.get($colorsMap, isecondary700));
$secondary600: rgb(map.get($colorsMap, isecondary600));
$secondary500: rgb(map.get($colorsMap, isecondary500));
$secondary400: rgb(map.get($colorsMap, isecondary400));
$secondary300: rgb(map.get($colorsMap, isecondary300));
$success700: rgb(map.get($colorsMap, isuccess700));
$success600: rgb(map.get($colorsMap, isuccess600));
$success500: rgb(map.get($colorsMap, isuccess500));
$success400: rgb(map.get($colorsMap, isuccess400));
$success300: rgb(map.get($colorsMap, isuccess300));
$warning800: rgb(map.get($colorsMap, iwarning800));
$warning700: rgb(map.get($colorsMap, iwarning700));
$warning600: rgb(map.get($colorsMap, iwarning600));
$warning500: rgb(map.get($colorsMap, iwarning500));
$warning400: rgb(map.get($colorsMap, iwarning400));
$warning300: rgb(map.get($colorsMap, iwarning300));
$error700: rgb(map.get($colorsMap, ierror700));
$error600: rgb(map.get($colorsMap, ierror600));
$error500: rgb(map.get($colorsMap, ierror500));
$error400: rgb(map.get($colorsMap, ierror400));
$error300: rgb(map.get($colorsMap, ierror300));
$info700: rgb(map.get($colorsMap, iinfo700));
$info600: rgb(map.get($colorsMap, iinfo600));
$info500: rgb(map.get($colorsMap, iinfo500));
$info400: rgb(map.get($colorsMap, iinfo400));
$info300: rgb(map.get($colorsMap, iinfo300));
$brandAccent: rgb(map.get($colorsMap, ibrandAccent));